snippet cutgo "Cut here symbols" b
---------------8<----------------8<-------------------8<---------------
endsnippet

snippet cutstop "Cut here symbols" b
--------------->8---------------->8------------------->8---------------
endsnippet

# vim:ft=snippets:
